body {
    margin: 0;
    font-family: roboto;
    font-size: 1.2em;
    /*gambiarra para resolver problema de cor entre as div*/
    background-color: blueviolet;
}

header {
    padding-right: 10%;
    padding-left: 10%;
    background-color: blueviolet;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title h2{
    color: white;
}

.contact a:hover{
    opacity: 0.6;
}

/*.controls{
    margin-top: 0.5%;
    display: flex;

    flex-direction: row;
    justify-content: space-around;
}

.controls p a{
    color: white;
    text-decoration: none;

    transition-property: all;
    transition-duration: 400ms;
}

.controls p a:hover{
    color: red;
    font-size: 1.1em;
}*/

/*.controls {
    border: 2px solid red;
    margin-top: 0.5%;
    display: flex;
    width: 40%;
}*/

header ul{ 
    /*position: relative;
    top: 50%;
    transform: translateY(-50%);*/
    list-style: none;
    width: 40%;
    text-align: right;
}

header li {
    display: inline-flex;
    padding-left: 2%;
}

header a{
    text-decoration: none;
    color: white;

    transition-property: all;
    transition-duration: 400ms;
}

header a:hover {
    font-size: 0.9em;
    color: red;
    opacity: 0.6;
}

.about {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    background-color: black;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.aboutImage img {
    margin-top: 35%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.contact a{
    margin-right: 3%;
}

.projects{
    color: white;
    background-color: blueviolet;
    padding-bottom: 20%;
}

.projects h1 {
    padding-left: 10%;
}

.projectTemplate{
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
  
    justify-content: space-between;
    flex-direction: row;
}

.project{
    background-color: antiquewhite;
    border-radius: 10px;
    width: 30%;
    color: black;
    text-align: center;
    display: flex;

    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.frameworks{
    margin-top: 2%;
    display: inline-flex;
    justify-content: center;
}

.frameworks img{
    margin-left: 5%;
    margin-right: 5%;
}

.project p{
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
    width: 80%;
}

.projects a, .projects a:visited{
    padding: 0;
    color: blue;
    text-decoration: none;
}

.projects a:hover {
    opacity: 0.6;
    text-decoration: underline;
}

.projectImg{
    border-radius: 10px;

    transition-property: all;
    transition-duration: 400ms;
}

.projectImg:hover {
    width: 95%;
}

@font-face {
    font-family: roboto;
    src: url(./assets/fonts/roboto/Roboto-Regular.ttf);
}