body {
    margin: 0;
    font-family: roboto;
    font-size: 1.2em;
    background-color: #31639c;
}

header {
    padding-right: 10%;
    padding-left: 10%;
    background-color: #31639c;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title h2 {
    color: #FAF9F6;
}

.contact a{
    transition-property: all;
    transition-duration: 300ms;
}

.contact a:hover {
    opacity: 0.6;
}

header ul {
    list-style: none;
    width: 40%;
    text-align: right;
}

header li {
    display: inline-flex;
    padding-left: 2%;
}

header a {
    text-decoration: none;
    color: #FAF9F6;

    transition-property: all;
    transition-duration: 300ms;
}

header a:hover {
    font-size: 0.9em;
    color: #252525;
    opacity: 0.6;
}

.aboutArea {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #FAF9F6;
    background-color: #252525;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.aboutText h1 {
    margin: 0;
}

.aboutText{
    width: 55%;
}

.profileImage img {
    float: right;
    border-radius: 50%;
}

.contact a {
    margin-right: 3%;
}

.projectsArea {
    color: #FAF9F6;
    background-color: #31639c;
    /*padding-bottom: 10%;*/
}

.projectsArea h1 {
    padding-left: 10%;
}

.cardsTemplate {
    padding-right: 10%;
    padding-left: 10%;
    display: flex;

    justify-content: space-between;
    flex-direction: row;
}

.card {
    background-color: #FAF9F6;
    width: 30%;
    border-radius: 10px;
    color: black;
    text-align: center;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.passwordManager .cardFooter {
    background-color: #34B297;
}

.churrascometro .cardFooter {
    background-color: #F0C32A;
}

.cardImage img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    transition-property: all;
    transition-duration: 400ms;
}

.cardFooter {
    background-color: palevioletred;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    display: inline-flex;
    justify-content: center;
}

.cardFooter img {
    margin-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-right: 5%;
}

.projectLinks{
    margin-top: 4%;
    margin-bottom: 6%;
}

.card p {
    padding-top: 2%;
    margin: auto;
    width: 80%;
}

.card a, .card a:visited {
    padding: 0;
    color: blue;
    text-decoration: none;

    transition-property: all;
    transition-duration: 300ms;
}

.card a:hover {
    opacity: 0.6;
    font-size: 0.9em;
    
}

footer {
    font-size: 0.8em;
    margin-top: 5%;
    color: #FAF9F6;
    background: #252525;
    padding: 1%;
    text-align: center;
}

@font-face {
    font-family: roboto;
    src: url(./assets/fonts/roboto/Roboto-Regular.ttf);
}